<%- include('partials/header') %>



  <section id="header" class="header container-fluid" style="background-image: url('images/background.JPG');">
    <div class="header-text">
      <i class="fas fa-star fa-6x logo"></i>
      <h1>Secret of Self-Esteem</h1>

      <div class="row button-row">
        <div class="col-sm-4">
          <a class="btn button btn-dark btn-lg" href="/lookbook">LOOKBOOK</a>
        </div>
        <div class="col-sm-4">
          <a class="button btn btn-dark btn-lg" href="/shop">SHOP</a>
        </div>
        <div class="col-sm-4">
          <a class="button btn btn-dark btn-lg" href="/contact">CONTACT</a>
        </div>
      </div>
    </div>
  </section>


  <%- include('partials/footer') %>
